/* Mobile Version */

body {
    background: #9C835F;
}

.back {
    width: 35px;
    height: 35px;
    margin-left: 37px;
    margin-top: 40px;

    transition: .5s;
    float: left;
    box-shadow: -4px 4px 0 #724C21;
    cursor: pointer;
    transform: rotate(45deg);
    color: #724C21;
}

.logo {
    margin-top: 20px;
    margin-left: -10px;
    background-color: #724C21;
    width: 72px;
    height: 72px;
}

.judul {
    margin-top: 20px;
    margin-right: 75px;
    text-align: left;

    width: 410px;
    height: 62px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;

    color: #F9B23D;
}

.player1 {
    margin-top: 60px;
    margin-left: 200px;

    width: 299px;
    height: 94px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #000000;
}

.com {
    margin-top: 100px;
    margin-left: 220px;

    width: 299px;
    height: 94px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #000000;
}

.batu1 {
    margin-top: -450px;
    margin-left: 280px;

    width: 128px;
    height: 92px;

    cursor: pointer;
}

.batu2 {
    margin-left: 300px;
    margin-bottom: 400px;

    width: 128px;
    height: 92px;
}

.kertas1 {
    margin-left: -110px;

    width: 115px;
    height: 150px;
    cursor: pointer;
}

.kertas2 {
    margin-top: -600px;
    margin-left: -120px;
    margin-bottom: -700px;

    width: 115px;
    height: 150px;
}

.gunting1 {
    margin-top: 450px;
    margin-left: -130px;

    cursor: pointer;

    width: 134px;
    height: 160px;
}

.gunting2 {
    margin-top: 300px;
    margin-left: -130px;
    margin-bottom: -300px;
    
    width: 134px;
    height: 160px;
}

.versus {
    margin-top: 70px;
    margin-left: 230px;

    width: 296px;
    height: 186px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 144px;
    line-height: 196px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #BD0000;
}

.refresh {
    margin-top: 100px;
    margin-left: 330px;

    cursor: pointer;
    width: 77px;
    height: 71px;
}

.status {
    margin-top: -150px;
    margin-left: 200px;

    padding-top: 30px;
    width: 271.11px;
    height: 166.93px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 52px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #FFFFFF;

    transform: rotate(-30.98deg);

    background: #4C9654;
    border-radius: 10px;
    transform: rotate(-28.87deg);
}

.dipilih1 {
    margin-left: 232px;

    width: 223px;
    height: 204px;

    border-top: 45px solid #C4C4C4;
    border-bottom: 67px solid #C4C4C4;
    border-left: 48px solid #C4C4C4;
    border-right: 47px solid #C4C4C4;

    background: #C4C4C4;
    border-radius: 30px;
}

.dipilih2 {
    margin-left: -220px;
    width: 223px;
    height: 204px;

    border-top: 26px solid #C4C4C4;
    border-bottom: 28px solid #C4C4C4;
    border-left: 54px solid #C4C4C4;
    border-right: 54px solid #C4C4C4;

    background: #C4C4C4;
    border-radius: 30px;
}

.dipilih3 {
    margin-left: -220px;

    width: 223px;
    height: 204px;

    border-top: 22px solid #C4C4C4;
    border-bottom: 22px solid #C4C4C4;
    border-left: 45px solid #C4C4C4;
    border-right: 44px solid #C4C4C4;

    background: #C4C4C4;
    border-radius: 30px;
}

.dipilih4 {
    width: 223px;
    height: 204px;

    border-top: 45px solid #C4C4C4;
    border-bottom: 67px solid #C4C4C4;
    border-left: 48px solid #C4C4C4;
    border-right: 47px solid #C4C4C4;

    background: #C4C4C4;
    border-radius: 30px;
}

.dipilih5 {
    width: 223px;
    height: 204px;

    border-top: 26px solid #C4C4C4;
    border-bottom: 28px solid #C4C4C4;
    border-left: 54px solid #C4C4C4;
    border-right: 54px solid #C4C4C4;

    background: #C4C4C4;
    border-radius: 30px;
}

.dipilih6 {
    width: 223px;
    height: 204px;

    border-top: 22px solid #C4C4C4;
    border-bottom: 22px solid #C4C4C4;
    border-left: 45px solid #C4C4C4;
    border-right: 44px solid #C4C4C4;

    background: #C4C4C4;
    border-radius: 30px;
}

/* Desktop Version */

@media (min-width: 992px) {
    body {
        width: 1440px;
        height: 1024px;
    }
    
    .logo {
        margin-top: 20px;
        margin-left: -350px;
    }
    
    .judul p {
        margin-left: -700px;
        position: absolute; 
    }

    .player1 {
        margin-top: 60px;
        margin-bottom: 20px;
        margin-left: 290px;
    }

    .com {
        margin-top: 65px;
        margin-left: -175px;
    }

    .batu1 {
        margin-top: 10px;
        margin-left: 360px;
        position: absolute;
    }

    .batu2 {
        margin-top: 35px;
        margin-left: -90px;
        position: absolute;
    }

    .kertas1 {    
        margin-left: 370px;
        margin-top: 190px;
        position: absolute;
    }

    .kertas2 {
        position: absolute;
        margin-top: 210px;
        margin-left: -70px;
    }

    .gunting1 {  
        position: absolute;
        margin-left: 350px;
        margin-top: 420px;
    }

    .gunting2 {
        position: absolute;
        margin-top: 435px;
        margin-left: -100px;
    }

    .versus {
        margin-left: -60px;
        margin-top: 330px;
    }

    .refresh {
        margin-left: 50px;
        margin-top: 260px;
    }

    .status {
        margin-top: -190px;
        margin-left: -40px;
    }

    .dipilih1 {
        margin-left: 312px;
        margin-top: -35px;
    }

    .dipilih2 {
        margin-left: 316px;
    }

    .dipilih3 {
        margin-left: 315px;
    }

    .dipilih4 {
        margin-left: -130px;
        margin-top: -20px;
    }
    
    .dipilih5 {
        margin-left: -130px;
    }
    
    .dipilih6 {
        margin-left: -130px;
    }
}
